
.icon-star:before { content: '\e800'; } /* '' */
.icon-spin6:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-star-half-alt:before { content: '\e803'; } /* '' */
.icon-star-half:before { content: '\e804'; } /* '' */